<h1>List of People</h1>
<ul>
  <% @people.each do |person| %>
    <li><%= h person.full_name %></li>
  <% end %>
</ul>

<%= link_to 'New Person',
            {:controller => 'people', :action => 'new'} %>
