<h1>Welcome <%= current_user.login %>: Here is your list of people</h1>
<ul>
  <% @people.each do |person| %>
    <li><%= h person.full_name %></li>
  <% end %>
</ul>

<%= link_to 'New Person',
            {:controller => 'people', :action => 'new'} %>
